@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 50 100% 60%;
    --primary-foreground: 0 0 0;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  @font-face {
    font-family: "GTA";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/GTAmericaLCG-ExpRg.otf") format("otf");
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpBd.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpBdIt.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpBl.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpBlIt.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpMd.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpMdIt.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpRg.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpRgIt.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpLt.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "GT America";
    src: url("/fonts/GTAmericaLCG-ExpLtIt.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("/fonts/Epilogue-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("/fonts/Epilogue-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("/fonts/Epilogue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  a {
    @apply hover:underline underline-offset-2 hover:text-black/80;
  }

  canvas {
    @apply !rounded-[40px];
  }
}
